* { margin:0; padding:0 }
html, body { display: table; padding: 4px; width:100%; height: 100%; text-align:center; overflow: hidden }
#wrapper { display: table-row; }
#gen_bar { display: table-cell; vertical-align: middle }
#gen_placement { font-size: 28pt }
#button_next { float: right; margin-right: 30px; font-size: 28pt; cursor: pointer; background: #fff; border: 0; }

#footnotes { display: table-row; height: 0; padding: 4px; text-align: left;}
#footnotes_dictionary { display: table-row; height: 0; padding: 4px; text-align: left;}
